body {
  animation-name:color;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  height:900px;
}
@keyframes color {
    0%   {background-color:#0B0B61;}
    25%  {background-color:#08088A;}
    50%  {background-color:#380B61;}
    75%  {background-color:#610B21;}
    100% {background-color:#0B0B61; left:400px; top:170px;}
}

h1 {
  font-family: 'Oswald', sans-serif;
  font-size: 120px;
  text-align: center;
  font-weight: 200;
  margin-top:30px;
  transition: all 1.0s cubic-bezier(0.05, 0.06, 0.94, 0.52)
  color:white;  
}
h1:hover{
  transform: rotate(7deg);
  font-size: 150px;
}
h2{
  font-family: 'Oswald', sans-serif;
  text-align: center;
  margin-top:-100px;
  font-size:40;
  color:white;
}
